development:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: y-note_development
  username: {username}

test:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: y-note_test
  username: {username}

production:
  host: localhost
  adapter: postgresql
  encoding: unicode
  database: y-note_production
  username: {username}

